@tailwind base;
@tailwind components;
@tailwind utilities;

/* මුළු සිස්ටම් එකේම පාට මාරු වෙනකොට Smooth වෙන්න */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Scrollbar එක ලස්සන කිරීම */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}